<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <add name="PrabathIshanka" connectionString="Server=xxx.xx.x.xx:30015;UserName='Enter Your User Name';Password='Enter your Password';CS= Database Name;Integrated Security=False;Connection Timeout=60000;" providerName="Sap.Data.Hana"/>
   
  </connectionStrings>

  <appSettings>

    <add key="DS" value="Sap Server IP address and port"/>
    <add key="DB" value="DataBase Name" />
    <add key="AU" value="false" />
    <add key="UN" value="HANA User Name" />
    <add key="PW" value="HANA password" />
    <add key="SS" value="HANA"/>
    <add key="SAPUN" value="SAP User Name" />
    <add key="SAPPW" value="SAP password" />
  </appSettings>
</configuration>
